In [1]:
"""
1. 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6
"""

"""
Ans : values are : 'hello', -87.8, 6
      expressions are : *, -, /, +

"""

"\nAns : values are : 'hello', -87.8, 6\n      expressions are : *, -, /, +\n\n"

In [2]:
"""
2. What is the difference between string and variable?
"""

"""
Ans : String is a datatype. 
      Variable has a value. 

"""

'\nAns : String is a datatype. \n      Variable has a value. \n\n'

In [3]:
"""
3. Describe three different data types. 
"""

"""
Ans : Integer : 5, 8, 99
      Float : 5.0, 8.0, 90.0
      Complex : 5+3j, 10+78j
      String : 'house', 'brown fox'
      boolean : True and False
      
      Apart from these, python in built data types are : 
      list, tuple, dictionary, sets
      
"""

"\nAns : Integer : 5, 8, 99\n      Float : 5.0, 8.0, 90.0\n      Complex : 5+3j, 10+78j\n      String : 'house', 'brown fox'\n      boolean : True and False\n      \n      Apart from these, python in built data types are : \n      list, tuple, dictionary, sets\n      \n"

In [4]:
"""
4. What is an expression made up of? What do all expressions do?

"""

"""
Ans : Expressions are made up of operators and operrand. 
      All expressions are evaluated by the interpreter and the result is displayed.  

"""

'\nAns : Expressions are made up of operators and operrand. \n      All expressions are evaluated by the interpreter and the result is displayed.  \n\n'

In [5]:
"""
5. This assignment statements, like spam = 10. What is 
the difference between an
expression and a statement?

"""

"""
Ans : spam  = 10 is an assignement statement. The statements are kind of
instructions for the interpreter. These are not evaluated but excecuted. 
The execution of a statement changes the state of a variable. 

On the other hand expressions are evaluated by the interpreter yielding in results.

"""

'\nAns : spam  = 10 is an assignement statement. The statements are kind of\ninstructions for the interpreter. These are not evaluated but excecuted. \nThe execution of a statement changes the state of a variable. \n\nOn the other hand expressions are evaluated by the interpreter yielding in results.\n\n'

In [6]:
"""
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
"""
bacon = 22
bacon + 1

23

In [7]:
"""
7. 7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
"""
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

In [8]:
"""
8. Why is eggs a valid variable while 100 is invaild.
"""

"""
Ans : variable name should start with alphabet. 
"""

'\nAns : variable name should start with alphabet. \n'

In [9]:
"""
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
"""

"""
Ans : int, float, str
"""
print(5.0)
print(type(5.0))
print(int(5.0), type(int(5.0)))
print(str(5.0), type(str(5.0)))

5.0
<class 'float'>
5 <class 'int'>
5.0 <class 'str'>

In [10]:
"""
10. Why does this expression cause an error? How can you fix it?
'I have eaten '+ 99 +' burritos.'

"""

"""
Ans : This will give error as 'I have eaten' and 'burritos' is of 
string type and '99' is of integer type. 
To do away with the error, we need to convert 99 from integer type
to string type
"""
print('I have eaten '+ 99 + 'burritos.')

TypeError: can only concatenate str (not "int") to str

In [11]:
'I have eaten '+ str(99) + ' burritos.'

'I have eaten 99 burritos.'